---
---

@import "{{ site.theme }}";

/*header {
  z-index: 1;
}

footer {
  z-index: 2;
}*/

/* Sticking navigation bar to the left of the screen, excluding mobile version */
@media only screen and (min-width: 1025px) {
  body {
    width: 90%;
    padding: 30px;
  }

  /*section {
    width: 100%;
  }*/

  #wrapper {
    width: 100%;
  }
  
  #sidebar {
    height: 100%;
    width: 20%;
    left: 10%;
    position: fixed;
    z-index: 1;
    display: inline-block;
  }

  #content {
    width: 50%;
    display: block;
    float: right;
    margin-right: 15%;
    padding-top: 5px;
  }

  #footer {
    bottom: 30px;
    width: inherit;
  }
}

/* Sets position for the GitHub logo */
.logos {
  display:inline-block;
  vertical-align: -4px;
  margin-right: 5px;
}

/* Underlines the current page in navigation */
header .current {
  display: inline;
  border-bottom: 1px solid black;
  padding-bottom: 1px;
  color: black;
}

/* Indents subnavigation items */
.subnav {
  text-indent: 1em;
}

/* Overrides theme css and prevents links to bold on hover */
body a:focus, a:visited {
  font-weight: normal;
}

/* Overrides theme css and prevents links to bold on hover and colors the link text */
body a:hover, a:active {
  font-weight: normal;
  color: black;
}

/* Keeps navigation links' style on hover */
header a:hover {
  font-weight: inherit;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}