---
---

@import "{{ site.theme }}";

/* Sets position for the GitHub logo */
.logos {
  display:inline-block;
  vertical-align: -4px;
  margin-right: 5px;
}

/* Underlines the current page in navigation */
header .current {
  display: inline;
  border-bottom: 1px solid black;
  padding-bottom: 1px;
  color: black;
}

/* Indents subnavigation items */
.subnav {
  text-indent: 1em;
}

/* Overrides theme css and prevents links to bold on hover */
body a:focus, a:visited {
  font-weight: normal;
}

/* Overrides theme css and prevents links to bold on hover and colors the link text */
body a:hover, a:active {
  font-weight: normal;
  color: black;
}

/* Keeps navigation links' style on hover */
header a:hover {
  font-weight: inherit;
}